:root {
  --free-site-bar-height: 0px; /* 55px; */

  --primary-color: #8284a2;
  --primary-color-light: #a3a6dc;
  
  --hsk1-color: #646cff;
  --hsk2-color: #4ce844;
  --hsk3-color: #f44b91;
  --hsk4-color: #ffef64;
  --hsk5-color: #3f9cff;
  --hsk6-color: #f5773c;

  --bg-color: #242424;
  --light-bg-color: rgba(255, 255, 255, 0.1);
  --selector-height: 5rem;
  --button-height: 5rem;
  --mini-button-height: 45px;
  --mini-button-width: 45px;
  --general-padding: 10px;
  --small-padding: 3px;
  --drawer-gap: 3rem;
  --general-border: 1px solid rgba(255, 255, 255, 0.7);
  --general-border-light: 1px solid var(--light-bg-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
  
  &:hover {
    color: var(--primary-color-light);
  }
}

body {
  margin: 0;
}

.bg{
  &-hsk1 {
    background-color: var(--hsk1-color);
  }
  
  &-hsk2 {
    background-color: var(--hsk2-color);
    color: var(--bg-color);
  }
  
  &-hsk3 {
    background-color: var(--hsk3-color);
  }
  
  &-hsk4 {
    background-color: var(--hsk4-color);
    color: var(--bg-color);
  }
  
  &-hsk5 {
    background-color: var(--hsk5-color);
  }
  
  &-hsk6 {
    background-color: var(--hsk6-color);
    color: var(--bg-color);
  }
}

.text {
  &-hsk1 {
    color: var(--hsk1-color);
  }

  &-hsk2 {
    color: var(--hsk2-color);
  }
  
  &-hsk3 {
    color: var(--hsk3-color);
  }
  
  &-hsk4 {
    color: var(--hsk4-color);
  }
  
  &-hsk5 {
    color: var(--hsk5-color);
  }
  
  &-hsk6 {
    color: var(--hsk6-color);
  }
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  
  &.btn {
    padding: var(--general-padding);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color-light);
    
    &:hover {
      background-color: var(--primary-color-light);
    }
    
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}


#app {
  margin: 0 auto;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  cursor: pointer;
  transition: opacity 200ms;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
